{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/3.0.2/css/buttons.bootstrap5.min.css"/>
{% endblock %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">CSV File Upload</h5>
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="csv-upload">
                <button class="btn btn-success" type="button" id="upload-button">Upload dataset</button>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">All datasets</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Name</th>
                        <th>Columns</th>
                        <th>Select</th> 
                    </tr>
                </thead>
                <tbody id="dataset-table-body">
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Materials Data (Input)</h5>
            <div class="row">
                <div class="col-md-4">
                    <select multiple class="form-control" id="input-columns" size="8"></select>
                </div>
                <div class="col-md-4">
                    <h5 class="card-title">Target Properties</h5>
                    <button id="add-target-property-button" class="btn btn-secondary mb-3">Add Target Property</button>
                    <div id="target-properties-container"></div>
                </div>
                <div class="col-md-4">
                    <h5 class="card-title">A priori Information (optional)</h5>
                    <select multiple class="form-control" id="apriori-columns" size="8"></select>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Prediction Error</h5>
                        <div id="prediction-error-plot"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <label for="model-select" class="form-label">Select Model *</label>
                    <select class="form-select" id="model-select">
                        <option value="pinn">Physic Informed Neural Network</option>
                        <option value="lolopy">lolo Random Forest (AI model)</option>
                        <option value="dkl">Deep Kernel Learning (DKL)</option>
                        <option value="rf">Random Forest</option>
                        <option value="gp">Gaussian Process (GP)</option>
                        <option value="maml">MAML</option>
                        <option value="reptile">Reptile</option>
                        <option value="protonet">ProtoNet</option>
                        <option value="rf">Random Forest</option>
                        <option value="gp">Gaussian Process (GP)</option>
                        <option value="ensemble">Ensemble</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="curiosity-slider" class="form-label">Curiosity (to control the weight of model uncertainty on predicted utility) *</label>
                    <input type="range" class="form-range" min="-2" max="2" step="0.1" id="curiosity-slider" value="0.0">
                    <div class="d-flex justify-content-between">
                        <span>Exploit</span>
                        <span id="curiosity-value">0.0</span>
                        <span>Explore</span>
                    </div>
                </div>
            </div>
            <div class="text-center mt-4">
                <button class="btn btn-primary" id="run-experiment-button">Run experiment with given configuration</button>
            </div>
        </div>
    </div>

    <div id="results-section" style="display: none;">
        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">t-SNE Visualization</h5>
                        <div id="tsne-plot" style="width:100%; min-height:600px;"></div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Scatter Plot</h5>
                        <div id="scatter-plot" style="width:100%; min-height:600px;"></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Additional Plots</h5>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="plot-select" id="parallel-coordinates-radio" value="parallel-coordinates">
                            <label class="form-check-label" for="parallel-coordinates-radio">Parallel Coordinates</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="plot-select" id="correlation-heatmap-radio" value="correlation-heatmap">
                            <label class="form-check-label" for="correlation-heatmap-radio">Correlation Heatmap</label>
                        </div>
                        <div id="additional-plot-container" class="mt-3"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">
                    <a data-bs-toggle="collapse" href="#results-table-collapse" role="button" aria-expanded="true" aria-controls="results-table-collapse">
                        Results Table
                    </a>
                </h5>
                <div class="collapse show" id="results-table-collapse">
                    <div class="table-responsive">
                        <div id="results-table-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.plot.ly/plotly-2.27.0.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/2.0.8/js/dataTables.bootstrap5.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/buttons/3.0.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.bootstrap5.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/3.0.2/js/buttons.html5.min.js"></script>
    
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}